.searchBox{
    width: 90%;
    position: absolute;
    left: 30px;
    top: 40px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0.25rem;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 18%);
    display: none;
    z-index: 3;
}

.findBox{
    padding: 0;
}
.lineDivider {
    border-top: 1px solid #e9ecef;
    list-style: none;

}
.lineDivider:hover{
    background-color: #caced1;
}

.people-finding{
    cursor: pointer;
}

.people-finding:hover{
    color: #0080ff;
}

.lineDivider span {
    margin: 0 5px;
    display: inline-block;
}

.loading{
    display: flex;
    align-items: center;
    justify-content: center;

}

.search-tools-box{
    display: flex;
    justify-content: space-around;
}


.search-tool:hover{
    
scale: 1.5;
transition: scale 0.2s ease-out;
}

.demographic-information li {
    list-style: none;
}

.demographic-information li span{
    font-weight: 600;

}

.container-table-search{
    max-height: 400px;
}

/*tools*/
.fa-user-check{
    color: green;
}

