video {
    position: fixed;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;
    z-index: 0;
    object-fit: cover;

}

.perfil {
    margin-top: -10px;
    width: 32px;
}

.quotes:nth-child(1) {
    margin-right: 20px;
}

.quotes:nth-child(2) {
    margin-left: 20px;
}

.error {

    border-radius: 3px;
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    box-shadow: none;

}

li {
    list-style: none;
}

.img-circle {
    aspect-ratio: 1.1;
}

@media print {
    body {
        writing-mode: horizontal-tb !important;
        overflow: visible !important;
    }
}

.ties-menu {
    max-height: 400px;
    overflow-y: scroll;
}

/* Evita que el navegador haga zoom al enfocar inputs en móviles */
@media screen and (max-width: 768px) {

    input,
    select,
    textarea {
        font-size: 16px !important;
    }
}

/* Evita el scroll horizontal innecesario si la tabla de resultados es ancha */
body {
    overflow-x: hidden;
    position: relative;
}