video {
    position: fixed;
    left: 0;
    top: 0;

    width:100%;
    height: 100%;
    z-index: 0;
    object-fit: cover;

}

.perfil{
    margin-top: -10px;
    width:32px;
}

.quotes:nth-child(1){
    margin-right: 20px;
}

.quotes:nth-child(2){
    margin-left: 20px;
}

.error{

    border-radius: 3px;
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    box-shadow: none;

}

li{
    list-style: none;
}

.img-circle{
    aspect-ratio: 1.1;
}

@media print{
    body{
             writing-mode:sideways-lr;
            
     }
}

body{
    writing-mode:sideways-lr;

}